article > header > nav.spec-toc { display: none; }
article > .spec-index, #_sidebar_index { display: none; }

.spec-sidebar {
    font-size: 22px;
}

.spec-toc {
    margin: 1rem 0 2rem;
}

.spec-toc .toggle+label {
    top: 15px;
}

body {
    max-width: 1280px;
}

@media (min-width: 720px) {
    body {
        margin: 2em auto 3em;
    }
}

:root {
    font-size: clamp(1.5rem, 2vw, 2.25rem); --mono-font-size: 0.92rem;

    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Noto Sans", "Helvetica Neue", Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", sans-serif;

    --font-family-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em !important;
    margin-bottom: 0em !important;
}
